* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    scroll-behavior: smooth;

}

.container {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    z-index: 999;
    background-color: #4b4b4b5b;
    backdrop-filter: blur(10px);

}

.head-left {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.head-left img {
    width: 40px;
    height: 40px;
    margin-right: 20px;

}

.head-left button {
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.head-left button:hover {
    opacity: 0.7;
}

.head-right {
    display: flex;
}

.head-right a {
    text-decoration: none;
    padding-left: 25px;
    color: white;
    font-size: 15px;

}

.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-vid {
    width: 100%;
    height: 100%;
    position: relative;

}

.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-info {
    z-index: 1;
    position: absolute;
    top: 80px;
    left: 50px;

}

.hero-info h1 {
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px;
}

.hero-info p {
    color: white;
    max-width: 210px;

}

.hero-info button {
    background-color: #edff66;
    border: 2px solid #edff66;
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    margin-top: 30px;
    transition: 0.3s;

}

.hero-info button:hover {
    background-color: transparent;
    color: white;
    box-shadow: 0 0 15px #edff66;
}

.gaming-text {
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    position: absolute;
    right: 20px;
    bottom: 30px;
}

.next-btn {
    width: 200px;
    height: 200px;
    background-color: #edff66;
    position: absolute;
    left: 45%;
    bottom: 45%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
    z-index: 100;
    opacity: 0;
    transition: 0.5s;
}

.next-btn:hover {
    width: 200px;
    height: 200px;
    opacity: 1;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.616);
}

.about-section {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.image-box {
    width: 360px;
    height: 510px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-section p {
    font-size: 12px;
}

.about-section h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: 100px;
    max-width: 1150px;
    text-transform: uppercase;
    text-align: center;
    margin: 25px 0;
    background: linear-gradient(to right, #4acfee, #53f8c9, #02d79a, #6070fd, #007ed2, #0121f3, #62dcf8);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 2.5s linear infinite;
}

@keyframes animate {
    to {
        background-position: 200%;
    }

}

.about-section h4 {
    margin-top: 50px;
    margin-bottom: 0;

}

.about-section h5 {
    margin-top: 5px;
    max-width: 425px;
    color: gray;
    text-align: center;
    line-height: 25px;



}
/* INFO SECTION //////////////////////////////////////////////////////////////////////////////////// */
.info-section {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    margin-top: 100px;
    align-items: center;
    left: 10%;
}

.info-section h3 {
    margin-bottom: 0;

}

.info-section p {
    margin-top: 5px;
    color: gray;
    max-width: 400px;
    line-height: 25px;

}

.info-card {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.card {
    position: relative;
    width: auto;
    height: 40vh;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 20px;
    transition: 0.5s;
}

.card h1 {
    position: absolute;
    margin: 0;
    top: 10px;
    left: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    z-index: 1;
    background: linear-gradient(to right, #4acfee, #53f8c9, #02d79a, #6070fd, #007ed2, #0121f3, #62dcf8);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 2.5s linear infinite;
    max-width: 250px;
}

.card p {
    position: absolute;
    top: 80px;
    left: 5%;
    z-index: 1;
    max-width: 250px;
    color: lightgray;

}

.card video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card button {
    position: absolute;
    bottom: 5%;
    left: 5%;
    padding: 10px 25px;
    background-color: #0f1217;
    color: gray;
    border-radius: 20px;
    border: 1px solid gray;
    box-shadow: 0 0 10px lightgray;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    box-shadow: 0 0 15px lightgray;
    opacity: 0.7;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px lightgray;
}

.card:nth-child(1) {
    grid-column: span 2;
}

.card:nth-child(2) {
    grid-row: span 2;
    height: 80vh;
}


/* contact section/////////////////////////////////////////////////////// */

.contact-section {
    position: relative;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

.contact-section .img1{
    position: absolute;
    top: 20%;
    right: 50px;
    height: 400px;
    clip-path: polygon(18% 0, 100% 0%, 78% 100%, 0% 100%);


}

.contact-section .img2{
    position: absolute;
    top: 5%;
    left: 10%;
    height: 200px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);


}   

.contact-section .img3{
    position: absolute;
    bottom:1%;
    left: 10%;
    height: 250px;
    width: 250px;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);


}

.contact-section p{
    margin-top: 100px;

}
.contact-section h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    margin-top: 3%;
    margin-bottom: 5%;
    max-width: 550px;
    text-align: center;
    z-index: 1;
    background: linear-gradient(to right, #4acfee, #53f8c9, #02d79a, #6070fd, #007ed2, #0121f3, #62dcf8);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 2.5s linear infinite;

}

.contact-section button{
    background-color: #edff66;
    border: 2px solid #edff66;
    padding: 10px 40px;
    border-radius: 20px;
    margin-top: 0px;
    cursor: pointer;
    color: black;
    transition: 0.3s;

}
.contact-section button:hover {
    background-color: transparent;
    color: white;
    box-shadow: 0 0 15px #edff66;
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(211,211,211,0.21);
    backdrop-filter: blur(10px);
   height:100px ;
   
}

.footer p {
    margin: 0 20px;
   
}
.footer ul {
    display: flex;
    list-style: none;
    padding: 20px 40px;
}

.footer a {
    color: white;
    padding: 7px 7px;
    text-decoration: none;
    margin: 0  10px;
    border-radius:50px ;
    border: 1px solid rgb(0,130,211);
    transition: 0.3s;
}